<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{url_for('static',filename='signup.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class = "form-container">
        <h1>Welcome, {{username}}</h1>
        <p>You are now authenticated</p>
        <button onclick="logout()"></button>
        <a href = "/login">
            <button>Logout</button>
        </a>
        <script>
            function logout(){
                localStorage.removeItem("token") ; 
                window.location.href = "/login" ;
            }

        </script>
    </div>
</body>
</html>